html {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}
body{
   background-image: url(images.jpeg);
   -webkit-background-size: cover;
   -moz-background-size:center;
   -o-background-size:cover;
   background-size: cover;
   width: 100%;
   height: 100%;
}

h1{
    text-transform: uppercase;
}
.btn{
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 1.5em;
    background-color: chocolate;
    border-color: chocolate;
    text-align: center,col-xs-12;
}
.btn:hover{
    background-color: brown;
    border-color: chocolate;
}
hr{
    border-width:3px;
    border-color: blue;
    max-width: 99px;
}